@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);

#dropdown-menu-c .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-c .navbar-brand a {
  font-size: 17px;
  font-family: 'PT Sans', sans-serif;
}
#dropdown-menu-c .nav .link,
#dropdown-menu-c .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-c .navbar,
#dropdown-menu-c .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-c .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-c .dropdown-menu a:hover,
#dropdown-menu-c .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-c .navbar-toggler {
  color: #000000;
}
#header1-g H1 {
  font-size: 48px;
}
#msg-box3-h .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-h .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-h .lead P {
  font-size: 16px;
}
#msg-box3-h small {
  font-size: 21px;
}

#dropdown-menu-7 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-7 .navbar-brand a {
  font-size: 17px;
  font-family: 'PT Sans', sans-serif;
}
#dropdown-menu-7 .nav .link,
#dropdown-menu-7 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-7 .navbar,
#dropdown-menu-7 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-7 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-7 .dropdown-menu a:hover,
#dropdown-menu-7 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-7 .navbar-toggler {
  color: #000000;
}
#msg-box4-i .mbr-section-title {
  text-align: center;
}
#msg-box4-i .lead P {
  text-align: center;
}
#msg-box4-i .btn {
  font-size: 13px;
}
#msg-box4-k .mbr-section-title {
  text-align: center;
}
#msg-box4-k .lead P {
  text-align: center;
}
#msg-box4-k .btn {
  font-size: 13px;
}
#msg-box4-l .mbr-section-title {
  text-align: center;
}
#msg-box4-l .lead P {
  text-align: center;
}
#msg-box4-l .btn {
  font-size: 13px;
}

#dropdown-menu-c .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-c .navbar-brand a {
  font-size: 17px;
  font-family: 'PT Sans', sans-serif;
}
#dropdown-menu-c .nav .link,
#dropdown-menu-c .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-c .navbar,
#dropdown-menu-c .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-c .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-c .dropdown-menu a:hover,
#dropdown-menu-c .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-c .navbar-toggler {
  color: #000000;
}
#contacts2-d P {
  color: #000000;
}
#contacts2-d DIV {
  color: #000000;
}





#msg-box3-19 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-19 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-19 .btn {
  font-size: 12px;
}
#header2-u .btn {
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-m .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-m .navbar-brand a {
  font-size: 17px;
  font-family: 'PT Sans', sans-serif;
}
#dropdown-menu-m .nav .link,
#dropdown-menu-m .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-m .navbar,
#dropdown-menu-m .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-m .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-m .dropdown-menu a:hover,
#dropdown-menu-m .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-m .navbar-toggler {
  color: #000000;
}
#header2-15 .btn {
  font-family: 'Roboto', sans-serif;
}
#header2-16 .btn {
  font-family: 'Roboto', sans-serif;
}
#header2-17 .btn {
  font-family: 'Roboto', sans-serif;
}

#dropdown-menu-n .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-n .navbar-brand a {
  font-size: 17px;
  font-family: 'PT Sans', sans-serif;
}
#dropdown-menu-n .nav .link,
#dropdown-menu-n .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-n .navbar,
#dropdown-menu-n .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-n .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-n .dropdown-menu a:hover,
#dropdown-menu-n .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-n .navbar-toggler {
  color: #000000;
}
#msg-box3-1a .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-1a .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-1a .btn {
  font-size: 12px;
}
#features1-1h P {
  text-align: center;
  font-size: 14px;
}
#features1-1j P {
  text-align: center;
  font-size: 14px;
}

#dropdown-menu-o .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-o .navbar-brand a {
  font-size: 17px;
  font-family: 'PT Sans', sans-serif;
}
#dropdown-menu-o .nav .link,
#dropdown-menu-o .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-o .navbar,
#dropdown-menu-o .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-o .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-o .dropdown-menu a:hover,
#dropdown-menu-o .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-o .navbar-toggler {
  color: #000000;
}
#msg-box3-1b .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-1b .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-1b .btn {
  font-size: 12px;
}
#features1-1k P {
  text-align: center;
  font-size: 14px;
}
#features1-1l P {
  text-align: center;
  font-size: 14px;
}
